* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    display: flex;
    max-width: auto;
    justify-content: center;
    color: yellow;
    background-color: purple;
    font-weight: bold;

}

.ingredients {
    display: flex;
    max-width: auto;
    justify-content: flex-start;
    color:orangered;
    background-color: green;
    font-size: 20px;
}

.ingredientTitle {
    font-weight: bold;
    font-size: 32px;
}

.instruct {
    display: flex;
    max-width: auto;
    justify-content: flex-start;
    color: orangered;
    background-color: blue;
    font-size: 20px;
}

.instructionTitle {
    font-weight: bold;
    font-size: 32px;
}