body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aqua;
}
.title {
    display:flex;
    max-width: 1200px;
    background-color:purple;
    margin: 0 auto;
    color: red;
    font-weight: bold;

}

.choices {
    display: flex;
    max-width: 1200px;
    background-color: brown;
    margin: 0 auto;
}

.recipeList {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
}