body {
    background-color: #5bc0e7;
    font-family: 'Poppins', sans-serif;
 }
 
 .hero {
    display:flex;
    background-color: rgb(231, 143, 120, 0.98);
    font-weight: bold;
    justify-content: center;
    border-radius: 5px;
    font-weight: 700;
    color: #ffe7ab;
    border: 2px, solid, #E9c46a;
    box-shadow: 0 14px 6px rgba(0, 0, 0, 0.2);
    margin-top:30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom:0px;

}


#title{
    display: flex;
    padding:20px;
    font-weight: 700;
    color: rgb(231, 143, 120);
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 10px;
    width: auto;
    /* background-color: rgb(86, 216, 26, 0.247) */
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    border-radius: 10px;
    padding: 15px;
    padding-top: 0px;
    /* background-color: yellow; */

}

.grid a{
    display: flex;
    padding: 20px;
    background: rgba(255, 255, 255, 0.68);
    border-radius: 10px;
    border: 2px, solid #E9c46a;
    box-shadow: 0 14px 6px rgba(0, 0, 0, 0.2);
    padding: 34px;
    margin: 34px;
    text-decoration: none;
    color: #595e59;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.grid a:hover {
    transform: Scale(1.08);
    transition: transform 0.4s ease-in-out;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background: rgba(255, 255, 255, 0.68);
    border-radius: 10px;
    border: 2px, solid #E9c46a;
    box-shadow: 0 14px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 24px;
    margin-bottom: 50px

}

.main h2{
    display: flex;
    justify-content: center;
    width: 100%;
}

.ingredients{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 14px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
    max-width: 50%;

}

.ingredients h2{
    display: flex;
    justify-content: center;
    width: 100%;
}



.instructions {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    margin: 50px;
    padding: 50px;
    box-shadow: 0 14px 6px rgba(0, 0, 0, 0.2);

}








/* .navbar {
    display: flex;
    justify-content: space-between;
    background: #333;
    padding: 15px 20px;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.navbar a:hover {
    color: #F04E30;
}

button {
    background: #F04E30;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    border-radius: 5px;
}
button:hover {
    background: #D13B22;
} */
